<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1" />
    <meta http-equiv="windows-Target" contect="_top">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="applicable-device" content="pc,mobile">  
    <meta http-equiv="Cache-Control" content="no-siteapp">
	<title>火车票</title>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
</head>
<body ng-app="myApp">
	<div ui-view class="ui_view_class"></div>
</body>
</html>