.train_ticket{
	position: relative;
	height: 100%;
	width: 100%;
	.time_show{
		height: 50px;
		width: 260px;
		margin: 0 auto;
		line-height: 50px;
		span:nth-child(1) {
			margin-right: 20px;
		}
	}
}